[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment test.sh 8.2 KB
Type=Link
URL=https://mail.google.com/mail/u/0?ui=2&ik=2606bdefb2&attid=0.1&permmsgid=msg-f:1788457293166550062&th=18d1e06eb7261c2e&view=att&disp=safe&realattid=f_lrjlmu300
Icon=mate-fs-bookmark
